<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
</head>
<body>

<ol>
    Policy regarding your information
    <li>Your information will not be shared with any third party without your consent.</li>
    <li> Your information will be stored and used by us to improve your experience.</li>
    <li>If any student or group of student wants to research or make any useful thing for we will provide your information with following conditions:</li>
    <ul>
        <li>Condition 1.1 will not be effective in this case.</li>
        <li>They are not allowed to share information out of the reason they showed to us.</li>
        <li>They cannot get any data or use in purpose of uniquely identify a student, if they are not allowed to do so.</li>
        <li>Students or group of students name(ANALYST) and the reason to get information will be listed below:</li>
        <ul><li>There is no ANALYST so far.</li></ul>
    </ul>
</ol>
</body>
</html>